<div class="internships">
  <style>
    .table tr:hover {
      background-color: transparent !important;
      cursor: default; 
    }
  </style>
  <table class="table table-sm table-borderless">
    <tr>
      <th scope="row" style="width: 30%">Jul. 2024 - Sept. 2024</th>
      <td>
        <a href="https://www.tencent.com/en-us/about.html">Tencent CDG</a>, 
        <a href="https://ad.weixin.qq.com/">Wechat Ads</a>, 
        Software Engineer
      </td>
    </tr>
    <tr>
      <th scope="row" style="width: 30%">Apr. 2025 - May 2025</th>
      <td>
        <a href="https://www.neteasegames.com/">NetEase Games</a>, 
        <a href="https://leihuo.163.com/#/">ThunderFire</a>, 
        Software Engineer
      </td>
    </tr>
  </table>
</div>
