---
layout: internships
---

<div class="internship-post">
  <h1>{{ page.title }}</h1>
  <p><strong>Date:</strong> {{ page.date }}</p>
  <div class="content">
    {{ content }}
  </div>
</div>
